{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="/static/images/vertical.png">
    <title>Vertical Limit Academy - Home Page</title>
</head>
<body>
    <header>
        <img src="/static/images/vertical.png" alt="Vertical Limit Academy Logo" title="Logo">

        
        <div class="links">
            <a>Home</a>
            <a href="#">Admission</a>
            <a href="#">About Us</a>
            <a href="#">Program</a>
            <a href="#">Contact</a>
            <a href="#">Login</a>
            <a href="#">Facilities</a>

            <h3>Vertical Limit Academy</h3>

        </div>
        <div class="search">
            <input type="search" name="search" id="search" placeholder="Search for a class . . .">
            <label for="search">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
            </label>

            <ul>
                <li><a href="#">Nursery One</a></li>
                <li><a href="#">Nursery Two</a></li>
                <li><a href="#">Nursery Three</a></li>
                <li><a href="#">Kindergarten One(Kg1)</a></li>
                <li><a href="#">Kindergarten Two(Kg2)</a></li>
                <li><a href="#">Kindergarten Three(Kg3)</a></li>
                <li><a href="#">Primary One</a></li>
                <li><a href="#">Primary Two</a></li>
                <li><a href="#">Primary Three</a></li>
                <li><a href="#">Primary Four</a></li>
                <li><a href="#">Primary Five</a></li>
                <li><a href="#">Primary Six</a></li>
                <li><a href="#">Junior Secondary School One</a></li>
                <li><a href="#">Junior Secondary School Two</a></li>
                <li><a href="#">Junior Secondary School Three</a></li>
            </ul>
        </div>

        <nav>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </nav>

        <nav>
            <div class="close">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>

            <div class="subLinks">
                <a>Home</a>
                <a href="#">Admission</a>
                <a href="#">About Us</a>
                <a href="#">Program</a>
                <a href="#">Contact</a>
                <a href="#">Login</a>
                <a href="#">Facilities</a>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300"><path fill="rgb(106, 114, 238)" fill-opacity="1" d="M0,96L48,96C96,96,192,96,288,122.7C384,149,480,203,576,234.7C672,267,768,277,864,266.7C960,256,1056,224,1152,213.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </nav>
    </header>

    <main>
        <section>
            <img src="/static/images/pexels-julia-m-cameron-4145356.jpg" alt="">
            <div class="content">
                <div></div>
                <h1>Vertical Limit Academy</h1>
                <p>This is where we teach our students skills they need to transform themselves, others and our global communities.</p>
                <a href="#">Our Academics</a>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300"><path fill="white" d="M0,224L48,229.3C96,235,192,245,288,234.7C384,224,480,192,576,165.3C672,139,768,117,864,133.3C960,149,1056,203,1152,213.3C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </section>

        <section>
            <div class="bubble"></div>
            <h1>Learning Begins With Us</h1>
            <div class="content">
                <div>
                    <p>We, at Vertical Limit Academy offer supportive and inspirational environments for young enquiring minds to learn and grow with us. Our passion for learning means we achieve more than outstanding results. We strive to build confident and creative thinkers and aim at delivering an education that is truly relevant to their future. </p>
                </div>
    
                <div>
                    <span></span>
                    <p>We are an early learning academy focused on social-emotional development and early literacy and numeracy. Our students walk out with the character and confidence to make their mark in the world, equipped with the knowledge and real-world skills that take them way ahead in the industry they may serve.</p>
    
                    <a href="#">Know More About Us ➡</a>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300"><path fill="white" fill-opacity="1" d="M0,32L48,64C96,96,192,160,288,154.7C384,149,480,75,576,69.3C672,64,768,128,864,138.7C960,149,1056,107,1152,96C1248,85,1344,107,1392,117.3L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
        </section>

        <section>
            <img class="obj" src="/static/images/obj1.png" alt="">
            <h1>Some Numbers You Should Know</h1>

            <div class="content">
                <div>
                    <h2>1k+</h2>
                    <p>Current Enrollments</p>
                </div>
                <div>
                    <h2>90+</h2>
                    <p>Qualified Staffs</p>
                </div>
                <div>
                    <h2>80+</h2>
                    <p>Club and Activities</p>
                </div>
                <div>
                    <h2>100+</h2>
                    <p>Active PTFA Member</p>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 290"><path fill="wheat" fill-opacity="1" d="M0,192L48,176C96,160,192,128,288,144C384,160,480,224,576,213.3C672,203,768,117,864,112C960,107,1056,181,1152,197.3C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </section>


        <section>
            <img class="obj" src="/static/images/obj4.png" alt="">
            <img class="obj" src="/static/images/obj6.png" alt="">
            <div class="content">
                <div>
                    <img src="/static/images/our_club.jpg" alt="">
                    <div class="span-content">
                        <h1>Mission</h1>
                        <p>Empowered by <b><i>OUR FAITH IN THE ALMIGHTY GOD</i></b> our school is committed to providing a holistic education that integrates academic rigor, spiritual growth and character development. We aim to inspire students to achieve their full potential, cultivate a sense of purpose and service to become active citizens who shine lights in their communities, reflecting the love and values of our <b><i>LORD JESUS CHRIST</i></b></p>
                    </div>
                </div>

                <div id="card2">
                    <img src="/static/images/pexels-mangalassery-978695.jpg" alt="">
                    <div class="span-content">
                        <h1>Vision</h1>
                        <p>Envisioning a school community where <b>STUDENTS, TEACHERS</b> and <b>STAFF</b> thrive in a nurturing environment, anchored in biblical values, academic rigor, creative expressions and service to others thereby resulting in graduates who are spiritually grounded, intellectually equipped and morally resilient, ready to make a <b><i>positive impact in the world.</i></b></p>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300"><path fill="wheat" fill-opacity="1" d="M0,256L48,224C96,192,192,128,288,122.7C384,117,480,171,576,208C672,245,768,267,864,250.7C960,235,1056,181,1152,176C1248,171,1344,213,1392,234.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg> -->
        </section>
    </main>
</body>
<script src="/static/app.js" defer></script>
</html>